grpc
apache-zookeeper-3.7.1-bin
# zookeeper
*.out
*.zip
*.ipynb
*.gz
*.code-workspace
*.pid
*.h5
*.log
*.pyc
Services/ComputationalNodes/CNN/Node/TrainingData/*
Services/ComputationalNodes/CNN/Node/models/*
Services/ComputationalNodes/CNN/Node/checkpoints/*
Services/StorageNode/Node/target
Services/StorageNode/Node/storage
zookeeper/*